<center><h1> Where's Your Weakpoint?</h1> </center>

<p> The central hub for anyone who needs to determine what to fix next in their bodybuilding split.
    Inspired by the likes of StrenghLevel, this website attempts to knock out several strength calculations 
    at once.
</p>

<h1>Note that your entries are saved via browser cookies: if the server ever restarts or if you ever get rid of your cookies, you will lose access
    to previous data.
</h1>

<p><a href="/secret">How can I avoid this?</a></p>