<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel= "stylesheet" type="text/css" href = "../css/main.css"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Where's Your Weakpoint?</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/add">Find out and log my weakpoint!</a></li>
      <li><a href="/history">History</a></li>
      <li><a href="/weakpoints">My Weakpoints</a></li>
      <li><a href="/all">All Corrective Exercises</a></li>
    </ul>
  </div>
</nav>
</head>
<body>
    


{{{body}}}
</body>

</html>