h1 {
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
}
body{
    background-color: #2E1E3A;
    color: white;
    text-align: center;
}
p {
    color: yellow;
}
input[type=submit]{
    background-color: yellow;
}
input[type=text]{
    color: black;
    text-align: center;
    display: inline-block;
}
table, th, td {
    border: 1px solid black;
  }